trigger: none

pool: my agent pool

variables: 
  - name: WORK_DIR
    value: 

parameters:
  - name: environments
    type: string
    default: dev
    values:
      - dev
      - test
      - prod

stages:
  - stage: build
    jobs:
      - job: build
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
