trigger: none
#  branches:
#    include:
#      - feature/*
   # exclude:
#      - main

variables: 
 - name: Work_DIR
   value: $(System.DefaultWorkingDirectory)/environments/${{ parameters.environment }}

parameters:
  - name: environment
    displayName: dev/test/prod
    type: string
    default: dev
    values:
      - dev
      - test
      - prod
      - qa

# PATH '$(System.DefaultWorkingDirectory)/env/${{parameters.environment}}'

pool: my agent pool

stages:
  - stage: build
    jobs:
      - job: build
        steps:
        - task: TerraformInstaller@1
          displayName: terraformInstall
          inputs:
            terraformVersion: 'latest'
        - task: TerraformTask@5
          displayName: TerraformInit
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(WORK_DIR)'
            backendAzureRmUseEntraIdForAuthentication: false
            backendServiceArm: 'todo-service-connection'
            backendAzureRmStorageAccountName: 'todostorage110'
            backendAzureRmContainerName: 'todocontainer'
            backendAzureRmKey: 'terraform.tfstate'
